/*INDEX PAGE CSS */



html {
    background-color: rgba(153, 47, 47, 0.664)
}

/* paragraph CSS */
p {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    color:black;
}

/* Master of Wisdom paragraph CSS */
p.masterOfWisdom {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

/* Brand Logo Icon CSS */
i.large.material-icons {
    font-size: 60px;
    background-color: blueviolet;
    margin: 2
}

h1 {
    color: blue;
    font-family: 'Dancing Script',
    cursive;
}

/* img CSS */
img.responsive-img {
    max-width: 50%;
    height: auto;
    float: left;
    margin-right: 1rem;
}

/*INDEX PAGE CSS END*/



a:link {
color: red;
text-decoration: none;
}

/* mouse over link */
a:hover {
    color: orangered;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: rgb(95, 10, 10);
    text-decoration: underline;

}



/*ABOUT PAGE CSS START*/


/* about CSS */

/* Brand Logo Icon CSS */
i.large.material-icons {
    font-size: 60px;
}

/* Upper Horizontal Line CSS */
#upper-horizontal-line {
    width: 30%;
}

/* Header CSS */
h1 {
    font-family: 'Dancing Script', cursive;
}

/* First Paragraph CSS */
#first-paragraph {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Second Paragraph CSS */
#second-paragraph {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* First img CSS */
#first-img {
    max-width: 50%;
    height: auto;
    float: right;
    margin-left: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Second img CSS */
#second-img {
    max-width: 50%;
    height: auto;
    float: left;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

/* Middle Horizontal Line CSS */
#middle-horizontal-line {
    width: 10rem;
    margin-bottom: 2rem;
}




/*TESTINGPAGE CSS START */

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Karma", sans-serif
 }

 .w3-bar-block .w3-bar-item {
     padding: 20px
 }


 /*TESTINGPAGE CSS END */